.container{
  padding: 20px var(--Padin);;
  /* @media (max-width: $desktop_xsm) {
    padding: 50px $padding-horizontal-mobile;
  }
  @media (min-width: $desktop_xsm) and (max-width: $desktop_sm) {
    padding: 50px $padding-horizontal-sm;
  }
  @media (min-width: $desktop_sm) and (max-width: $desktop_md) {
    padding: 50px $padding-horizontal-md;
  } */
}

.title {
  color: var(--Dark);
  font-size: 3rem;
  font-family: var(--Font-Italina);
  margin-bottom: 30px;
  margin-top: 30px;

}

.recomendados {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem 0 ;
}

.recomendado__imagem {
    width: 260px;
    margin-bottom: 10px;
}

.img {
  border-radius: 8px;
  width: 100%;
}

.recomendado__botao {
    background-color: var(--Red);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;
    transition: .2s ease;
    width: 100%;
}

.recomendado__botao:hover {
    background-color: var(--Red-dark);
}

.nossaCasa {
  margin-bottom: 100px;
  position: relative;
  width: 100%;
}

.nossaCasa img {
  border-radius: 5px;
  width: 100%;
}

.nossaCasa__end {
  align-items: center;
  background-color: var(--Dark);
  border-radius: 5px;
  bottom: -55px;
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 400px;
}
