.item {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  cursor: pointer;
  transition: .2s ease-in;
}
.item:hover {
  background-color: var(--Grey);
}

.item__img {
  min-width: 240px;
}
.img{
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.item__description {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
  @media (max-width: var(--Desktop_xsm)) {
    flex-direction: row;
    margin-top: 20px;
    padding: 0;
  }
}

.item__title h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.item__title p {
  color: var(--Dark-grey);
  font-size: 1.3rem;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 20px;
}

@media (max-width: var(--Desktop_xsm)) {
  .item {
    width: 100%;
  }
  .img {
    border-radius: 8px;
    width: 100%;
  }
}