.section {
  padding: 30px var(--Padding-principal);
}

.btn__prev {
  background-color: transparent;
  border: none;
  color: var(--Red);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--Font-Italina);
}

.container {
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 2.8rem;
}

.images {
  width: 500px;
  position: relative;
}

.share {
  top: 15px;
  right: 15px;
  z-index: 10;
  position: absolute;
  cursor: pointer;
}

.images img {
  position: relative;
  border-radius: 8px;
  width: 100%;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.content__description {
  color: var(--Darkest-grey);
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--Font-Italina);
  letter-spacing: .1rem;
}


@media screen and (max-width: 1000px)  {
  .section {
    padding: 30px var(--Padding-principal2);
  }
}

@media screen and (max-width: 780px)  {
  .section {
    padding: 30px var(--Padding-principal3);
  }
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 590px) {
  .section {
    padding: 30px var(--Padding-principal4);
  }
  .container {
    text-align: center;
  }
  .title {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .images {
    width: 300px;
  }
}
