.nav {
  padding: 20px var(--Padding-principal);
  justify-content: space-between;
  display: flex;
  font-family: var(--Font-Italina);
}

.nav__logo {
 width: 12rem;
}

.nav__list {
  align-items: center;
  display: flex;
}

.nav__link {
  list-style-type: none;
  padding: 0 1rem;
}


.nav__link a {
  color: var(--Dark);
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  transition: .2s ease;
}

.nav__link a:hover {
  color: var(--Dark-grey);
}


@media screen and (max-width: 1000px)  {
  .nav{
    padding: 20px var(--Padding-principal2);
  }
}

@media screen and (max-width: 780px)  {

  .nav{
    padding: 20px var(--Padding-principal3);
  }

  .nav__logo {
    width: 10rem;
   }
}

@media (max-width: 590px) {
  .nav {
    padding: 20px var(--Padding-principal4);
  }
  .nav__logo {
    width: 7rem;
  }

  .nav__link {
    padding: 0 0.4rem;
  }

  .nav__link a {
    font-size: 1.3rem;
    font-weight: 800;
  }
}