
.header{
  align-items: center;
  background-image: url('../../assets/header/hero1.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  display: flex;
  height: 300px;
  padding: 0 var(--Padding-principal);
  box-shadow: 1px 1px 1px var(--Red);
}

.header_text{
  color: white;
  font-size: 5rem;
  font-family: var(--Font-Italina);
  min-width: 400px;
  width: 40%;
}

@media (max-width: 1000px) {

  .header {
    padding: 0 var(--Padding-principal2);
  }

  .header_text{
    font-size: 4rem;
    width: 40%;

  }
}

@media (max-width: 780px) {
  .header {
    padding: 0 var(--Padding-principal3);
    background-size: 100%;
    height: 15rem;
  }

  .header_text{
    font-size: 3.5rem;
    width: 40%;
    min-width: 300px;
    padding: 3rem 0;
  }
}

@media (max-width: 570px) {
  .header {
    padding: 0 var(--Padding-principal3);
    background-size: 100%;
  }

  .header_text{
    font-size: 2.5rem;
    width: 35%;
    min-width: 200px;
    padding: 20px 0;
  }
}