.container{
  padding: 20px var(--Padding-principal);
}

.title {
  color: var(--Dark);
  font-size: 3rem;
  font-family: var(--Font-Italina);
  margin-bottom: 30px;
  margin-top: 30px;
}

.sobre {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.sobre__img{
  width: 50%;
}

.sobre__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.sobre__text p {
  font-family: 'Josefin Sans', sans-serif;
}

.container__imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div__img {
  width: 24rem;
}

.div__img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}



@media (max-width: 1000px) {

  .container{
    padding: 20px var(--Padding-principal2);
  }
  .images__img {
    width: 17rem;
  }

}

@media (max-width: 780px) {
  .container{
    padding: 20px var(--Padding-principal3);
  }
  .sobre{
    flex-direction: column;
  }
  .images__img {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .container{
    padding: 20px var(--Padding-principal4);
  }
  .sobre__img{
    width: 100%;
  }
  .container__imgs {
    gap: 10px;
  }
}