.menu {
  display: flex;
  flex-direction: column;
  font-family: var(--Font-Italina);
  padding-left: var(--Padding-principal);
  margin-top: 50px;
}

.menu__title {
  color: var(--Dark);
  font-size: 3rem;
  margin-bottom: 30px;
}

.container__search{
  display: flex;
  align-items: center;
}

.menu__filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12rem;
}

.input {
  background-color: var(--Grey);
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: var(--Font-Italina);
  outline: none;
  width: 30%;
  padding: 0.6rem 2rem;
  border-radius: 0.2rem;
}

.input::placeholder{
  padding: 0.2rem
}

.icon{
  margin-left: -2.4rem;
}




@media (max-width: 1000px) {

  .menu {
    padding: 0 var(--Padding-principal2);
  }

}

@media (max-width: 780px) {
  .menu {
    padding: 0 var(--Padding-principal3);
  }
}

@media (max-width: 590px) {
  .menu {
    padding: 0 var(--Padding-principal4);
  }
  .menu__filters{
    flex-direction: column;
    padding-right: 0
  }
  .input {
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
  }
  .input::placeholder{
    padding: 0
  }
  .icon{
    margin-left: -3.4rem;
  }
}
